.resultsPressure {
    height: 12vh;
    padding: 23px;
    margin-bottom: 2vh;
    margin-top: 3.5vh;
    border-radius: 10px;
    border: 1px solid #ccc;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.valuesPressure{
    height: 4vh;
    border-radius: 10px;
    outline: none;
    margin: 1vh;
    width: 7vw;
    font-size: 1rem;
    font-family: Courier, monospace;
}

label
{
    display: grid;

}
